UPBIT_ACCESS_KEY=
UPBIT_SECRET_KEY=
UPBIT_MAIN_ACCESS_KEY=
UPBIT_MAIN_SECRET_KEY=
UPBIT_SUB_POCKET_UUID=
UPBIT_SUB_POCKET_NAME=
Q_GAGARIN_ALLOW_LIVE_TRADING=false
Q_GAGARIN_LIVE_TRADING_ENABLED=false
